.horizontal__border::after {
  content: "";
  display: block;
  position: relative;
  top: 0px;
  width: 200px;
  height: 1px;
  margin-left: 10px;
  background-color: currentColor;
}

.links__border,
.mail__border {
  position: relative;
}
.links__border:hover,
.mail__border:hover {
  text-decoration: none !important;
}

.links__border::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid currentColor;
  width: 0%;
  height: 100%;
  bottom: 0%;
  left: 0%;
  transition: all 0.2s ease;
}

.links__border:hover:after {
  width: 100%;
}

.mail__border::after {
  content: "";
  position: absolute;
  border-left: 1px solid currentColor;
  width: 100%;
  height: 0%;
  bottom: 0%;
  left: -2px;
  transition: all 0.2s ease;
}

.mail__border:hover:after {
  height: 100%;
}

.mainHeads {
  position: relative;
  padding: 0 2px;
}

.mainHeads::before {
  content: "<";
  color: #693cb9;
}

.mainHeads::after {
  content: "/>";
  color: #693cb9;
}

.gautam_img_box:hover > img {
  top: 1rem;
  left: 1rem;
  mix-blend-mode: normal;
  transition: all 0.2s ease-in;
  scale: 1.03;
}

.gautam_img_box {
  animation: imageBounce 1.5s linear infinite alternate;
}

@keyframes imageBounce {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px);
  }
}
