::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb{
    background: currentColor;
    border-radius: 5px;
    filter: invert(1);
}

::-webkit-scrollbar-track{
    background: cadetblue;
    /* filter: invert(1); */
}