* {
  scroll-behavior: smooth;
  margin: 0;
  scroll-padding: 8rem;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: currentColor;
  border-radius: 5px;
  border: 4px solid #181321;
}

*::selection {
  background: #6a3cb975;
  color: white;
}
